<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid red;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid red;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>


<br><br>
<main class="container-fluid bg-lightdark" style="padding: 1rem;">
<div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
  <div id="avatar">
  </div><br>
    <h1 class="text-light font-weight-light">Astarius Code</h1>
    <h2 class="text-light font-weight-light">
  </h2>
  <p class="h4 text-light font-weight-light">
    Kodları görebilmek için <a href="/davet" target="_blank">discord sunucumuza</a> katılmanız gerekmektedir!
  </p>
  <!-- <p class="h4 text-light font-weight-light">
     <a href="/bilgilendirme" target="_blank">Kodlara bakmadan önce kesinlikle okuyunuz! (Tıkla git)</a>
  </p> -->
  <div class="btn-group mt-4">
    <a href="/davet" target="_blank" class="alonebutton"> <i class="fab fa-discord"></i> Discord'a Katıl</a>
  </div>
  </div><br>
  <div class="container text-center">
<hr color="white"><br><br>
<font color="white" size="5"><b>Sunucularımız</b></font>
<br><br>
    <center>
                  <div class="sunucukare">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/729424678858391552/743575002149814342/oc-minimal-gaming-background-25601600_2.jpg" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 120px;border-radius:50%" class=" certificate-botimg " src="https://cdn.discordapp.com/icons/731208910568030278/6f7ec45f1f4aa60ab4fefe8d4b25e402.jpg" alt="">
                      </div>
                      <br>
Astarius Family #YıkılmadanUçuyoruz
                      
                      <p> </p>
                        <p class="card-text">Kodların paylaşıldığı ve botların eklendiği bir sunucu!</p>
                    </div>
                    <div class="card-footer">                    
                        <a href="/davet" style="background-color: #000;" class="alonebutton"><i class="fab fa-discord"></i> Sunucuya Katıl</a>                        
                    </div>
                  </div>
      
      
      <br><br>
      <div class="sunucukare">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://i.hizliresim.com/MoToZ8.png" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 120px;border-radius: 50%" class=" certificate-botimg " src="https://i.hizliresim.com/d5d4VE.gif" alt="">
                      </div>
                      <br>
                      Void Development™
                      <p> </p>
                        <p class="color: white">Kodların paylaşıldığı bir sunucu!</p>
                    </div>
                    <div class="card-footer">                    
                        <a href="https://discord.gg/fgMMSTN" style="background-color: #000;" class="alonebutton"><i class="fab fa-discord"></i> Sunucuya Katıl</a>                        
                    </div>
                  </div>
       </center>
    <br>
<br><br>


  </div>
</main>