pre code {
  background-color: #000;
  color: #fff;
  border-left: .5rem solid rgba(0,0,0,.5);
  display: block;
  overflow-y: auto;
  text-align: left;
  word-break: break-all;
  padding: 1rem;
  border: white;
  border-style: groove;
  border-width: 3px;
  position: relative;
  margin: auto;
  display: block;
  max-width: 80%;
  height: auto!important;
  margin-left:auto;
  margin-right:auto;  
}
.kodyazirengi {
  color: white;
}
h9 {
  color: white;
  font-size: 15px;
  align: center;
  line-height: normal;
}
  h9{
    font-family:Montserrat,Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,sans-serif
  }
    h9[id]{pointer-events:none}h9[id]:before{content:"";height:80px;margin:-80px 0 0}h9[id]:hover:after{opacity:1}h9[id]:after{-webkit-transition:opacity .1s ease-out;transition:opacity .1s ease-out;content:" \1F517";cursor:pointer;opacity:0;font-weight:100;pointer-events:auto
       }
     .kutucuk {
      align: center;
      background-color: #696969;
      border-shadow: 2px 2px white;
      width: 250px;
      border-radius: 10px;
      display: inline-block;

    }
.sunucukare {
      align: center;
      background-color: #696969;
      border-shadow: 2px 2px 2px 2px white;
      width: 350px;
  color: white;
      border-radius: 10px;
      display: inline-block;

    }
.alonebutton {
	background-color:#525453;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
  border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #303830;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
}.alonebutton:hover {
	background-color:#363636;
}.alonebutton:active {
	position:relative;
	top:1px;
}
.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: .4rem;
    height: 50%;
    max-width: 100%;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 95px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
.footeralt {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f0101;
    color: #fff;
    text-align: center;
}